html {
	background:#505D6E url(body4.jpg) no-repeat center center fixed; 
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.titre h1{
	color:rgb(100,255,255,0.75);
	align-content: center;
	text-align: center;
	
}


input {
	
	border:2px solid rgba(100,255,255,0.5);
	font-size:1.75em;
	padding:1em 1em 1em;
	color:rgba(100,255,255,.75);
	border-radius:10em;
	background:rgba(255,255,255,0.2);
	transition:all .100s;	
	
}
label,
input {
	border:2px solid rgba(100,255,255,0.5);
	font-size:1em;
	padding:1em 1em 1em;
	color:rgba(100,255,255,.75);
	border-radius:10em;
	background:rgba(255,255,255,0.2);
	transition:all .100s;

}
span,
input {
	font-size:1.75em;
	padding:1em 1em 1em;
	color:rgba(100,255,255,.75);
	background:transparent;
	transition:all .100s;
	}
	

::placeholder {
	color:rgba(100,255,255,.75);
}
button,
input{
	border:2px solid rgba(100,255,255,0.5);
	font-size:1em;
	padding:1em 1em 1em;
	color:rgba(100,255,255,.75);
	border-radius:10em;
	background:rgba(255,255,255,0.2);
	transition:all .100s;

}

